@media screen and (min-width: 769px) {
  #game {
    height: 100vh;
  }
  #game .inner {
    width: 84%;
    margin: 0 auto;
  }
  #game .bg {
    background-color: #006200;
    width: 100%;
    height: 1018px;
  }
  #game .leaving {
    padding-top: 20px;
  }
  #game .leaving .button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #FFFFFF;
    font-size: 22px;
    font-family: "Kaisei Tokumin", serif;
    padding: 14px 50px 14px 21px;
    position: relative;
  }
  #game .leaving .button::after {
    position: absolute;
    content: "";
    background-image: url(../../img/img_icon-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    width: 24px;
    height: 23px;
  }
  #game .leaving .button:hover {
    background: linear-gradient(#fdf446 0%, #c88827 100%);
    border: none;
    filter: brightness(110%);
    transition: 0.4s;
  }
  #game .dealer li {
    list-style: none;
  }
  #game .dealer li .img {
    display: flex;
    max-width: 150px;
    width: 100%;
  }
  #game .dealer .card-back {
    background-image: url("../../img/img_ura.png");
    background-size: contain;
    width: 150px;
    height: 212px;
  }
  #game .player {
    padding-top: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #game .player li {
    list-style: none;
    border: 1px solid #FFFFFF;
    padding: 124px 74px 58px 74px;
    max-width: 320px;
    width: 100%;
    position: relative;
  }
  #game .player li:nth-child(n+2) {
    margin-left: 109px;
  }
  #game .player li .img {
    display: flex;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    width: 100%;
  }
  #game .player li .img img {
    margin-left: -40px;
  }
  #game .player li .bet,
#game .player li .credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #game .player li .bet p,
#game .player li .credit p {
    font-size: 22px;
    line-height: 1.4545454545;
  }
  #game .player li .credit {
    margin-top: 14px;
  }
  #game .player li .name {
    position: absolute;
    content: "";
    bottom: -12px;
    right: 30px;
    font-size: 18px;
    background-color: #006200;
    display: flex;
    align-items: center;
  }
  #game .player li .name img {
    width: 30px;
    height: 30px;
  }
  #game .player li .name p {
    margin-left: 4px;
  }
  #game .btn {
    margin: 22px 113px 0 0;
    text-align: right;
    display: flex;
    justify-content: end;
  }
  #game .btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  #game .btn button:nth-child(n+2) {
    margin-left: 20px;
  }
  #game .btn .hit, #game .btn .stand, #game .btn .surrender {
    background: linear-gradient(#fdf446 0%, #c88827 100%);
    color: #FFFFFF;
    font-size: 16px;
    padding: 30px 16px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  #game .btn .hit img, #game .btn .stand img, #game .btn .surrender img {
    width: 30px;
    height: 26px;
  }
  #game .btn .p {
    margin-top: 10px;
  }
  .under {
    background: linear-gradient(#6c2703 0%, #0e0500 100%);
    width: 100%;
    height: 62px;
  }
}