html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #FFF;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  transition: 0.4s;
}
a:hover {
  opacity: 0.5;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ac {
  text-align: center;
}

.js-sec {
  opacity: 0;
}
.js-sec.active {
  transition: 1s;
  opacity: 1;
}

.js-up-sec {
  position: relative;
  opacity: 0;
  top: 60px;
}
.js-up-sec.active {
  transition: 1s;
  opacity: 1;
  top: 0;
}

.js-down-sec {
  position: relative;
  opacity: 0;
  top: -60px;
}
.js-down-sec.active {
  transition: 1s;
  opacity: 1;
  top: 0;
}

.js-left-sec {
  position: relative;
  opacity: 0;
  left: -60px;
}
.js-left-sec.active {
  transition: 1s;
  opacity: 1;
  left: 0;
}

.js-right-sec {
  position: relative;
  opacity: 0;
  right: -60px;
}
.js-right-sec.active {
  transition: 1s;
  opacity: 1;
  right: 0;
}

.js-rightdown-sec {
  position: relative;
  opacity: 0;
  top: -60px;
  right: -60px;
}
.js-rightdown-sec.active {
  transition: 1s;
  opacity: 1;
  top: 0;
  right: 0;
}

.js-leftdown-sec {
  position: relative;
  opacity: 0;
  top: -60px;
  left: -60px;
}
.js-leftdown-sec.active {
  transition: 1s;
  opacity: 1;
  top: 0;
  left: 0;
}

.none {
  display: none;
}

@media screen and (min-width: 769px) {
  #home .bg {
    position: relative;
    background-image: url(../../img/img_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
  }
  #home .unit {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
  }
  #home .unit h1 {
    font-size: 120px;
  }
  #home .name {
    margin: 60px auto;
    max-width: 488px;
    width: 100%;
  }
  #home input[type=text] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 28px;
    color: #D8D8D8;
  }
  #home input[type=text]:focus {
    outline: 0;
  }
  #home .item {
    display: inline-block;
  }
  #home .btn {
    max-width: 320px;
    margin: 40px auto 0;
  }
  #home .btn input[type=submit] {
    background: linear-gradient(#fdf446 0%, #c88827 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    color: #fff;
    font-size: 32px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 29px 67px;
    border-radius: 20px;
    transition: 1s;
  }
  #home .btn input[type=submit]:hover {
    filter: brightness(110%);
    transition: 0.4s;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #D8D8D8;
    display: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .overlay.open {
    display: block;
  }
  .modal-window {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    display: none;
  }
  .modal-window.open {
    display: block;
  }
  .modal-window .content {
    position: relative;
    padding: 142px 0 90px;
  }
  .modal-window .content .button-close {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .modal-window .content .button-close:hover {
    cursor: pointer;
  }
  .modal-window .content .button-close span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transform: rotate(45deg);
  }
  .modal-window .content .button-close span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: inherit;
    transform: rotate(90deg);
  }
  .modal-window .content p {
    font-size: 32px;
    text-align: center;
  }
  .modal-window .content .coins {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .modal-window .content .item:nth-child(n+2) {
    margin-left: 60px;
  }
  .modal-window .content label {
    display: inline-block;
  }
  .modal-window .content label img {
    max-width: 210px;
    width: 100%;
  }
  .modal-window .content .flex {
    display: flex;
    justify-content: space-between;
    max-width: 753px;
    margin: 40px auto 0;
    width: 100%;
  }
  .modal-window .content .bet {
    position: relative;
    border: 1px solid #fff;
    padding: 19px 88px;
    color: #fff;
    font-size: 36px;
  }
  .modal-window .content .bet span {
    font-size: 36px;
  }
  .modal-window .content .bet::after {
    content: "BET";
    position: absolute;
    color: #fff;
    background-color: #000;
    font-size: 32px;
    top: -20px;
    left: 20px;
  }
  .modal-window .content .credit {
    position: relative;
    border: 1px solid #fff;
    padding: 19px 88px;
    color: #fff;
    font-size: 36px;
    margin-left: 30px;
  }
  .modal-window .content .credit span {
    font-size: 36px;
  }
  .modal-window .content .credit::after {
    content: "CREDIT";
    position: absolute;
    color: #fff;
    background-color: #000;
    font-size: 32px;
    top: -20px;
    left: 20px;
  }
  .modal-window .btn {
    max-width: 320px;
    margin: 40px auto 0;
    border-radius: 20px;
    border: 1px solid #fff;
  }
  .modal-window .btn input[type=submit] {
    background: #000;
    border: none;
    color: #fff;
    font-size: 32px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 29px 67px;
    border-radius: 20px;
    transition: 1s;
  }
  .modal-window .btn input[type=submit]:hover {
    background: #fff;
    color: #000;
    filter: brightness(110%);
    transition: 1s;
  }
}
@media screen and (min-width: 769px) {
  #game {
    height: 100vh;
  }
  #game .inner {
    width: 84%;
    margin: 0 auto;
  }
  #game .bg {
    background-color: #006200;
    width: 100%;
  }
  #game .leaving {
    padding-top: 20px;
    text-align: right;
  }
  #game .leaving .button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 22px;
    font-family: "Kaisei Tokumin", serif;
    padding: 14px 50px 14px 21px;
    transition: 1s;
    position: relative;
  }
  #game .leaving .button::after {
    position: absolute;
    content: "";
    background-image: url(../../img/img_icon-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    width: 24px;
    height: 23px;
  }
  #game .leaving .button:hover {
    background: linear-gradient(#fdf446 0%, #c88827 100%);
    border: none;
    filter: brightness(110%);
    transition: 1s;
  }
  #game .dealer li {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  #game .dealer li .img {
    margin-left: -60px;
  }
  #game .dealer li .img img {
    max-width: 150px;
  }
  #game .dealer li .card-back {
    background-image: url("../../img/img_ura.png");
    background-size: contain;
    width: 150px;
    height: 212px;
  }
  #game .player {
    padding-top: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #game .player li {
    list-style: none;
    border: 1px solid #FFFFFF;
    padding: 124px 74px 58px 74px;
    max-width: 320px;
    width: 100%;
    position: relative;
  }
  #game .player li:nth-child(n+2) {
    margin-left: 109px;
  }
  #game .player li .img {
    display: flex;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #game .player li .img:nth-child(2) {
    left: 65%;
  }
  #game .player li .img:nth-child(3) {
    left: 80%;
  }
  #game .player li .img:nth-child(4) {
    left: 95%;
  }
  #game .player li .img img {
    max-width: 150px;
  }
  #game .player li .bet,
#game .player li .credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #game .player li .bet p,
#game .player li .credit p {
    font-size: 22px;
    line-height: 1.4545454545;
  }
  #game .player li .bet p:nth-child(2),
#game .player li .credit p:nth-child(2) {
    margin-left: 20px;
  }
  #game .player li .credit {
    margin-top: 14px;
  }
  #game .player li .name {
    position: absolute;
    content: "";
    bottom: -12px;
    right: 30px;
    font-size: 18px;
    background-color: #006200;
    display: flex;
    align-items: center;
  }
  #game .player li .name img {
    width: 30px;
    height: 30px;
  }
  #game .player li .name p {
    margin-left: 4px;
  }
  #game .btn {
    margin: 50px 113px 0 0;
    text-align: right;
    display: flex;
    justify-content: end;
  }
  #game .btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: 1s;
  }
  #game .btn button:nth-child(n+2) {
    margin-left: 20px;
  }
  #game .btn button:hover {
    opacity: 0.7;
    transition: 1s;
  }
  #game .btn .hit, #game .btn .stand, #game .btn .surrender {
    background: linear-gradient(#fdf446 0%, #c88827 100%);
    color: #FFFFFF;
    font-size: 16px;
    padding: 30px 16px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  #game .btn .hit img, #game .btn .stand img, #game .btn .surrender img {
    width: 30px;
    height: 26px;
  }
  #game .btn .p {
    margin-top: 10px;
  }
  .under {
    background: linear-gradient(#6c2703 0%, #0e0500 100%);
    width: 100%;
    height: 62px;
  }
}