@charset "utf-8";
//////////////////////////////////////////
// PC
/////////////////////////////////////////

@media screen and (min-width: 769px) {
    #home {
        .bg {
            position: relative;
            background-image: url(../../img/img_top.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100vh;
            width: 100%;
        }
        .unit {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 150px;
            transform: translateY(-50%);
            h1 {
                font-size: 120px;
            }
        }
        .name {
            margin: 60px auto;
            max-width: 488px;
            width: 100%;
        }
        input[type="text"]   {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 20px;
            font-size: 28px;
            color: #D8D8D8;

            &:focus {
                outline: 0;
            }
        }
        .item {
            display: inline-block;
        }
        .btn {
            max-width: 320px;
            margin: 40px auto 0;
        }
        .play {
            background: linear-gradient(#fdf446 0%, #c88827 100%);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border: none;
            input[type="submit"]{
                color: #fff;
                font-size: 32px;
                text-align: center;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                cursor: pointer;
                display: inline-block;
                width: 100%;
                padding: 29px 67px;
                border-radius: 20px;
                
                &:hover {
                    filter: brightness(110%);
                    transition: .4s;
                }
            }
        }
    }
    //モーダルウィンドウ
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #D8D8D8;
        display: none;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        &.open {
            display: block;
        }
    }
        .modal-window {
            width: 65%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #000;
            display: none;
            &.open {
                display: block;
            }
            .content {
                position: relative;
                padding: 142px 0 90px;
                .button-close {
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        color: #fff;
                        line-height: 1;
                        width: 30px;
                        height: 3px;
                        background-color:#fff;
                        position: relative;
                        transform: rotate(45deg);
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: #fff;
                            border-radius: inherit;
                            transform: rotate(90deg);
                        }
                    }
                }
                p {
                    font-size: 32px;
                    text-align: center;
                }
                .coin {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                }
                .item {
                    &:nth-child(n+2) {
                        margin-left: 60px;
                    }
                }
                label img {
                    max-width: 210px;
                    width: 100%;
                }
                label input {//デフォルトチェックボックス非表示
                    display: none;
                }

                .flex {
                    display: flex;
                    justify-content: space-between;
                    max-width: 753px;
                    width: 100%;
                    margin: 40px auto 0;
                }
                .bet {
                    position: relative;
                    border: 1px solid #fff;
                    padding: 19px 88px;
                    color: #fff;
                    font-size: 36px;
                    span {
                        font-size: 36px;
                    }
                    &::after {
                        content: "BET";
                        position: absolute;
                        color: #fff;
                        background-color: #000;
                        font-size: 32px;
                        top: -20px;
                        left: 20px;
                    }
                }
                .credit {
                    position: relative;
                    border: 1px solid #fff;
                    padding: 19px 88px;
                    color: #fff;
                    font-size: 36px;
                    margin-left: 30px;
                    span {
                        font-size: 36px;
                    }
                    &::after {
                        content: "CREDIT";
                        position: absolute;
                        color: #fff;
                        background-color: #000;
                        font-size: 32px;
                        top: -20px;
                        left: 20px;
                    }
                }
            }
            .btn {
                max-width: 320px;
                margin: 40px auto 0;
                border-radius: 20px;
                border: 1px solid #fff;
                input[type="submit"]{
                    background: #000;
                    border: none;
                    color: #fff;
                    font-size: 32px;
                    text-align: center;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    cursor: pointer;
                    display: inline-block;
                    width: 100%;
                    padding: 29px 67px;
                    border-radius: 20px;
                    
                    &:hover {
                        background: #fff;
                        color: #000;
                        filter: brightness(110%);
                        transition: .4s;
                    }
                }
                input[type="button"]{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding: 0;
                    appearance: none;
                    background: #000;
                    color: #fff;
                    font-size: 32px;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    padding: 29px 67px;
                    border-radius: 20px;
                    
                    &:hover {
                        background: #fff;
                        color: #000;
                        filter: brightness(110%);
                        transition: .4s;
                    }
                }
            }
        }
    #game {
        .inner {
            width: 84%;
            margin: 0 auto;
        }
        .bg {
            background-color: #006200;
            width: 100%;
            height: 1018px;
        }
        .player {
            padding-top: 501px;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                border: 1px solid #FFFFFF;
                padding: 124px 74px 58px 74px;
                max-width: 320px;
                width: 100%;
                position: relative;
                &:nth-child(n+2) {
                    margin-left: 109px;
                }
                .bet ,
                .credit {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-size: 22px;
                        line-height: calc(32 / 22);
                    }
                }
                .credit {
                    margin-top: 14px;
                }
                .name {
                    position: absolute;
                    content: "";
                    bottom: -12px;
                    right: 30px;
                    font-size: 18px;
                    background-color: #006200;
                    display: flex;
                    align-items: center;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                    p {
                        margin-left: 4px;
                    }
                }
            }
        }
        .btn {
            margin: 22px 113px 0 0;
            text-align: right;
            display: flex;
            justify-content: end;
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                padding: 0;
                appearance: none;
                &:nth-child(n+2){
                    margin-left: 20px;
                }
            }
            .hit , .stand , .surrender{
                background: linear-gradient(#fdf446 0%, #c88827 100%);
                color: #FFFFFF;
                font-size: 16px;
                padding: 30px 16px;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                img {
                    width: 30px;
                    height: 26px;
                }
            }
            .p {
                margin-top: 10px;
            }

        }
    }
    .under {
        background: linear-gradient(#6c2703 0%, #0e0500 100%);
        width: 100%;
        height: 62px;
    }
}

//////////////////////////////////////////
// SP
/////////////////////////////////////////

@media screen and (max-width: 768px) {}