@charset "utf-8";

//////////////////////////////////////////
// PC
/////////////////////////////////////////

@media screen and (min-width: 769px) {
    #home {
        .bg {
            position: relative;
            background-image: url(../../img/img_top.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100vh;
            width: 100%;
        }
        .unit {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 150px;
            transform: translateY(-50%);
            h1 {
                font-size: 120px;
            }
        }
        .name {
            margin: 60px auto;
            max-width: 488px;
            width: 100%;
        }
        input[type="text"]   {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 20px;
            font-size: 28px;
            color: #D8D8D8;

            &:focus {
                outline: 0;
            }
        }
        .btn {
            max-width: 320px;
            margin: 40px auto;
        }
        .item {
            display: inline-block;
        }
        input[type="submit"]{
            background: linear-gradient(#fdf446 0%, #c88827 100%);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            color: #fff;
            font-size: 32px;
            text-align: center;
            border: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            display: inline-block;
            width: 100%;
            padding: 29px 67px;
            border-radius: 20px;

            &:hover {
                filter: brightness(110%);
                transition: .4s;
            }
        }
    //モーダルウィンドウ
        .modal-window {
            .content {
                label img {
                    max-width: 210px;
                    width: 100%;
                    // height: 210px;
                }
            }
        }
    }
}

//////////////////////////////////////////
// SP
/////////////////////////////////////////

@media screen and (max-width: 768px) {}